
<div class="wrapper">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div @myInsertRemoveTrigger *ngFor="let match of matches;let i=index;" id="viewmatch" class="card col-lg-4 col-md-6 col-sm-12 col-xs-12 offset-lg-1">
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <div style="display: flex;flex-direction: column;align-items: center;">
                        <p>{{match.HomeTeam}}</p>
                        <img [src]="imgUrl+match.HomeTeam+'.svg'" [attr.width]="'50px'" [attr.height]="'50px'" alt="">
                    </div>
                    <div style="display: flex;flex-direction: column;align-items: center;">
                        <p>{{match.AwayTeam}}</p>
                        <img [src]="imgUrl+match.AwayTeam+'.svg'" [attr.width]="'50px'" [attr.height]="'50px'" alt="">
                    </div>
                </div>
                <p style="text-align:center">{{match.StadiumName}}</p>
                <p style="text-align:center">{{match.MainReferee}}</p>
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <p style="font-weight: 400;">{{match.LinesMan1}}</p>
                    <p style="font-weight: 400;">{{match.LinesMan2}}</p>
                </div>
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <p style="font-weight: 400;">{{match.MatchDate | date:'yyyy-MM-dd'}}</p>
                    <p style="font-weight: 400;">{{match.MatchDate | date:'hh:mm a'}}</p>
                </div>
                <div style="display: flex;justify-content: space-between;align-items: center;">
                <a id ="seats" href="/vacantseats" style="color: cornflowerblue;text-decoration: underline;">Vacant Seats</a>
                <a *ngIf="type&&type!='fan'" id="edit" style="color: cornflowerblue;text-decoration: underline;" (click)="editMatch(i)">Edit</a>
            </div>
                <!-- <p style="text-align:center">{{match.MainReferee}}</p> -->
        </div>
    </div>
</div>
<br>
<br>