<div *ngIf="!loaded" id="loading">
  </div>


  
<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12 col-offset-1" (click)="createMatch()">
            Create a new match event
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12 offset-lg-1" (click)="viewMatches()">
            Edit the details of an existing match
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12 offset-lg-1" (click)="createStadium()">
            Add a new stadium
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12 col-offset-1 snd-row" (click)="viewMatches()">
            View match details
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12 offset-lg-1 snd-row" (click)="viewMatches()">
            View status of seats for each match
        </div>
    </div>
</div>
