<!-- <html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="header.component.css" rel="stylesheet" type="text/css" />
    </head>
    <body> -->
            
            <div class="navbar">
                
                    <div class="logo-image">
                            <img src = "download.png" style="height: 100%; width: 100%; object-fit: contain ; border-radius: 50%;" />
                    </div>
                    <h1>Egyptian Premier League</h1> 
                    <a class="active" routerLink=""><i class="fa fa-fw fa-home"></i> Home</a> 
                    <a *ngIf="!this._auth.loggedIn();" routerLink="signin"><i class="fa fa-sign-in"></i> Login</a> 
                    <a *ngIf="!this._auth.loggedIn();" routerLink="signup"><i class="fa fa-user-o"></i> Register</a> 

                    <a *ngIf="this._auth.loggedIn();" routerLink="profile"><i class="fa fa-sign-in"></i> Profile</a> 
                    <a *ngIf="this._auth.loggedIn();" (click)="logOut()"><i class="fa fa-user-o"></i> Logout</a> 
                    
            </div>
           
    <!-- </body>
</html> -->
