<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="header.component.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
            <div class="navbar">
                    <div class="logo-image">
                            <img src = "download.png" style="height: 100%; width: 100%; object-fit: contain ; border-radius: 50%;" />
                    </div>
                    <a class="active" routerLink=""><i class="fa fa-fw fa-home"></i> Home</a> 
                    <a routerLink="signin"><i class="fa fa-sign-in"></i> Login</a> 
                    <a routerLink="signup"><i class="fa fa-user-o"></i> Register</a> 
                    
            </div>
           
    </body>
</html>
