
<section>
    <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                <img  [src]="images[0]" alt="Random first slide" style="width: 100%; height: 85vh">
                </div>
                <div class="carousel-caption" style = "display: inline-block; vertical-align: middle;">
                <h1>الفوز الساحق للدوري المصري المتميز جدا للمرة ال 62 على التوالي </h1>
                <button routerLink = "viewmatches" style = "background-color: brown;"class="btn btn-lg btn-secondary">
                        <i class="fa fa-search"></i>View match details</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                <img  [src]="images[1]" alt="Random second slide" style="width: 100%; height: 85vh">
                </div>
                <div class="carousel-caption">
                <h1>الدوري المصري يستعد استعداد شرس جدا للمباراة القادمة</h1>
                <button routerLink = "viewmatches" style = "background-color: brown;" class="btn btn-lg btn-secondary">
                        <i class="fa fa-search"></i>View match details</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img  [src]="images[2]" alt="Random third slide" style="width: 100%; height: 85vh">
                </div>
                <div class="carousel-caption">
                    <h1  style = "color: white;">حصد فريق الأهلى لقب بطولة الدوري المصري الممتاز للمرة 41 فى تاريخه، بعدما استطاع الفوز على المقاولون العرب فى المباراة التى جمعتهما اليوم ضمن مباريات الجولة 33 من عمر البطولة الشهيرة.</h1>
                    <button routerLink = "viewmatches" style = "background-color: brown;" class="btn btn-lg btn-secondary">
                            <i class="fa fa-search"></i>View match details</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img  [src]="images[3]" alt="Random third slide" style="width: 100%; height: 85vh">
                </div>
                <div class="carousel-caption">
                    <h1 style = "color : black;">أعلن البرتغالي جيمي باتشيكو المدير الفني لفريق نادي الزمالك، التشكيل فريقه لمواجهة طلائع الجيش في إطار مسابقة الدوري المصري الممتاز.</h1>
                    <button routerLink = "viewmatches" style = "background-color: brown;" class="btn btn-lg btn-secondary">
                            <i class="fa fa-search"></i>View match details</button>
                </div>
            </ng-template>
            </ngb-carousel>
            
            
</section>
<app-footer></app-footer>
