<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="home.component.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
           
            <!--<div id = "watermark"></div>-->
            
           <section>
                <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img  [src]="images[0]" alt="Random first slide" style="width: 100%; height: 85vh">
                          </div>
                          <div class="carousel-caption" style = "display: inline-block; vertical-align: middle;">
                            <h1>الفوز الساحق للدوري المصري المتميز جدا للمرة ال 62 على التوالي </h1>
                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img  [src]="images[1]" alt="Random second slide" style="width: 100%; height: 85vh">
                          </div>
                          <div class="carousel-caption">
                            <h1>الدوري المصري يستعد استعداد شرس جدا للمبارة القادمة</h1>
                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img [src]="images[2]" alt="Random third slide" style="width: 100%; height: 85vh">
                          </div>
                          <div class="carousel-caption">
                            <h1>الاهلي يغلب المصري 2-0 في الدوري المصري المتميز</h1>
                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img  [src]="images[3]" alt="Random third slide" style="width: 100%; height: 85vh">
                            </div>
                            <div class="carousel-caption">
                                <h1 style = "color : black;">حصد فريق الأهلى لقب بطولة الدوري المصري الممتاز للمرة 41 فى تاريخه، بعدما استطاع الفوز على المقاولون العرب فى المباراة التى جمعتهما اليوم ضمن مباريات الجولة 33 من عمر البطولة الشهيرة.</h1>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img  [src]="images[4]" alt="Random third slide" style="width: 100%; height: 85vh">
                            </div>
                            <div class="carousel-caption">
                                <h1 style = "color : black;">أعلن البرتغالي جيمي باتشيكو المدير الفني لفريق نادي الزمالك، التشكيل فريقه لمواجهة طلائع الجيش في إطار مسابقة الدوري المصري الممتاز.</h1>
                               
                            </div>
                        </ng-template>
                      </ngb-carousel>
                      
                      
           </section>
    </body>
</html>